* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #d54215;
}
header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
}

.logo {
    color: var(--main-color);
    margin-left: 6vw;

}

nav {
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

nav ul li {
    padding: 10px;
    list-style: none;
    font-weight: 700;
}

.magzine {
    margin-left: 10vw;
    color: var(--main-color);
}

.discription {
    width: 50vw;
    margin-left: 15vw;
    margin-top: 4vh;

}

.discription p {
    line-height: 2;

}
.btn button{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
    border: none;
}
#save-btn{
    background: #D54215;
    color: #fff;
}

.Ingredients h1 {
    padding: 16px 0px;
    font-size: 35px;
}

.Ingredients ul li {
    list-style-position: inside;
    padding: 10px 0px;
    list-style-type: var(--main-color);
}

.Ingredients ol li {
    padding: 10px 0px;
    list-style-type: var(--main-color);
    list-style: none;
    list-style-position: inside;
}
.Ingredients ol li h2 {
    margin: 10px 0px;
}
.Ingredients ol li p {
    margin: 10px 0px;
}
.Ingredients ol li img {
    margin: 10px 0px 0px 0px;
    width: 600px;
    height: 450px;
}
.Ingredients ol li h6 {
    color: #595959;
}
.posts{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin: 20px 30px;
}
.cards{
    width: 283px;
    height: auto;
    border: 0px solid #595959;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

    
}
.card-discription{
    margin: 10px 0px 10px 10px;
}
.card-discription h5{
    margin: 10px 0px;
    color: #595959;
}
.card-discription h2{
    margin: 10px 0px;
    font-size: 24px;
}
.icons{
    margin: 20px 0px;
}
.logo-footer{
    padding: 10px 0px 0px 20px;
    color: var(--main-color);
}

footer{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     width: 100%;
}
footer h3{
    color: var(--main-color);
    padding: 20px;
   
    
}
